@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, lightblue, lavender);
  padding: 16px;
  color: white;
  font-weight: bold;
}

.Navbar_Items {
  display: flex;
}

.Navbar_Link {
  padding-right: 10px;
}

.Navbar_Link-toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Navbar, .Navbar_Items {
    flex-direction: column;
  }
  .Navbar {
    justify-content: flex-start;
  }
  .Navbar_Items {
    display: none;
  }
  .Navbar_Link-toggle {
    display: initial;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
  }
}
